events {}
http {
  server {
    listen ${NGINX_PORT:-80};
    location / {
      root /usr/share/nginx/html;
      try_files $uri /index.html;
    }
    location /api/ {
      proxy_pass http://localhost:${PORT:-4000}/;
    }
    location /data/ {
      root /api;
    }
  }
}